# Minimal project config for Uncrustify trial
newlines = auto
input_tab_size = 4
output_tab_size = 4
indent_columns = 4
indent_with_tabs = 0
indent_namespace = true
nl_namespace_brace = add
nl_fdef_brace = add
nl_func_leave_one_liners = true
code_width = 100
ls_code_width = true
pos_shift = lead
align_left_shift = true
