CompileFlags:
  CompilationDatabase: .vscode

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  Suppress:
    # clangd false positives from MSVC STL <format> while importing C++20 modules.
    - ovl_ambiguous_init
    - ovl_no_viable_function_in_call

Completion:
  HeaderInsertion: Never

---
If:
  PathMatch: .*\.cppm

CompileFlags:
  Add:
    - -x
    - c++-module
    - -std=c++23

Diagnostics:
  UnusedIncludes: None
